.chat-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.chat-box__message--user {
  position: relative;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: right;
}
.chat-box__message--bot {
  position: relative;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: left;
  
}

