.chat-box {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  height: 78vh;
}
.chat-box__message--user {
  position: relative;
  background: rgba(0, 255, 0, 0.473);
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: right;
}
.chat-box__message--bot {
  position: relative;
  background: rgba(255, 255, 0, 0.582);
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
#chat-form {
  position: fixed;
  bottom: 0;
  width: 100% !important;
  max-width: 100% !important;
  left: 0;
  right: 0;
  padding: 10px;
  margin-bottom: 30px;
}
.messages {
  overflow-y: auto;
  flex-grow: 1;
}

.user-input {
  flex-shrink: 0;
}