
.note-content {
  color: #666;
  font-size: 0.8rem;
}

.note-date {
  color: #999;
  font-size: 0.8rem;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  height: 30px;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  vertical-align: middle;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red */
}
.delete-button-cell {
  vertical-align: middle;
}
